body{
    margin: 0;
    background-color: #232D3F;
}
nav{
    border: 3px solid #008170;
    margin: 5px 5px;
    width: calc(100% - 15px);
    color: #008170;
    background-color: #232D3F;
    display: flex;
    align-items: center;
    height: 60px;
    position: fixed;
    z-index: 3;
}
.hero{
    background-color: #232D3F;
    color: #008170;
    display: flex;
}
.korobka{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 95vh;
}
.korobka2{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 40%;
    height: 80vh;
}
h1{
    margin: 0;
    font-size: 100px;
}
h2{
    margin: 0;
    font-size: 50px;
}
h3{
    margin: 0;
    font-size: 30px;
}
.textcenter{
    text-align: center;
}
.neon-border{
    color: #008170; 
    box-shadow: 0px 0 5px #008170,
                 0 0 10px #008170, 
                 0 0 20px #008170, 
                 0 0 30px #008170, 
                 0 0 40px #008170, 
                 0 0 50px #008170;
}
img{
    z-index: 2;
}
.link {
    text-decoration: none;
    margin: 0 0 0 100px;
    font-size: 40px;
    color:#008170;
    transition: transform 0.3s ease;
}
.link1{
    text-decoration: none;
    margin: 0 0 0 30px;
    font-size: 20px;
    color:#008170;
    transition: transform 0.3s ease;
}
.link:hover{
    transform: scale(1.1);
}
.text-box {
    border: 3px solid #008170;
    margin: 100px auto;
    max-width: 950px;
    padding: 30px;
    background-color:#0f0f0f;
    border-radius: 40px;
    text-align: center;
}
.hero2{
    background-color: #0f0f0f;
    color: #008170;
    display: flex;
}
.neon-text {
    color: #008170;
    text-shadow: 0 0 5px #008170,
                 0 0 10px #008170, 
                 0 0 20px #008170, 
                 0 0 30px #008170, 
                 0 0 40px #008170, 
                 0 0 50px #008170;
}
p{
    margin: 0;
    font-size: 50px;
}
.neon-circle {
    width: 160px;
    height: 160px;
    background-color: #005B41;
    border-radius: 50%;
    margin: 15px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: 5px solid #008170;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.text-box1{
    margin: 100px auto;
    max-width: 1000px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    color:#008170;
}
.domik{
    width: 60px;
    height:65px;
}
.hero3{
    background-color: #0f0f0f;
    color: #008170;
    display: flex;
}